<%= link_to 'Parks Index', '/parks/' %>
<%= link_to 'Trails Index', '/trails/' %>
<h3><p><%= link_to 'Create New Park', '/parks/new' %></p></h3>

<h1>Parks</h1>

<% @parks.each do |park| %>
<p> <h2><a href='/parks/<%=park.id %>'><%= park.name %> </a></h2>
(Added at: <%=park.created_at%>)</p>
<h5><%= link_to 'Update Park Information', "/parks/#{park.id}/edit" %></h5>
<h5><%= button_to "Delete Park", "/parks/#{park.id}", method: :delete %></h5>
<br>
<% end %>
