<a href='/parks'> Back to Parks Index </a>
<h1><%= @park.name %> </h1>
<p>Trails Available: <%= @park.trail_count%> </p>
<p>Park Open: <%=@park.open%> </p>
<p>Park Size: <%=@park.size%> Square Miles </p>
<p>Created at: <%=@park.created_at%></p>
<p>Updated at: <%=@park.updated_at%></p>
