<%= link_to 'Parks Index', '/parks/' %>
<%= link_to 'Trails Index', '/trails/' %>

<h1><%= @park.name %> </h1>
<h3><%= link_to 'Trails at this Park', "/parks/#{@park.id}/trails" %></h3>
<p>Trails Available: <%= @park.trail_count%> </p>
<p>Park Open: <%=@park.open%> </p>
<p>Park Size: <%=@park.size%> Square Miles </p>
<p>Created at: <%=@park.created_at%></p>
<p>Updated at: <%=@park.updated_at%></p>
