<%= link_to 'Parks Index', '/parks/' %>
<%= link_to 'Trails Index', '/trails/' %>
<h3><%= link_to 'Update Trail Information', "/trails/#{@trail.id}/edit" %></h3>

<h1><%= @trail.name %> </h1>
<p>Trail is Hikeable: <%= @trail.hikable %> </p>
<p>Trail Length: <%= @trail.length %> Miles </p>
<p>Created at: <%=@trail.created_at %></p>
<p>Updated at: <%=@trail.updated_at %></p>
