<%= link_to 'Parks Index', '/parks/' %>
<%= link_to 'Trails Index', '/trails/' %>
<h3><%= link_to 'Add New Trail to Park', "/parks/#{@park.id}/trails/new" %></h3>
<h3><%= link_to 'Sort Alphabetically', sort: "alphabetically" %></h3>
<h1><%=@park.name%> Trails:</h1>
<% @trails.each do |trail| %>
<p><%= link_to trail.name, "/trails/#{trail.id}"%><p>
<% end %>
